*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: "Poppins";
    font-weight: 400;
}

@font-face {
    font-family: "GC";
    src: url("assets/GC-EPICPRO-Demo-BF6891cc5419ab8.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("assets/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("assets/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

body{
    color: white;
    font-family: "Poppins";
}

form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input, button{
    padding: 12px 20px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    font-size: 12px;
    width: 300px;
    box-shadow: -1px 3px 5.400000095367432px rgba(0, 0, 0, 0.30);
}

form button{
    background: linear-gradient(292deg, #FF9551 1%, #3C72CD 100%);
    border: none;
    color: #2A2623;
}

button{
    background: rgba(255, 255, 255, 0.15);
    margin-top: 8px;
    font-weight: 700;
    border: 1px black solid;
    box-shadow: -1px 3px 5.400000095367432px rgba(0, 0, 0, 0.60);
    padding: 14px;
    transition: all .3s;
}

button:hover{
    transform: translateY(-2px);
}

input{
    background: #757996;
    color: rgba(255, 255, 255, 0.9);
}

input::placeholder{
    color:  rgba(255, 255, 255, 0.3);
    font-size: "Poppins";
}

h2{
    font-size: 42px;
    margin-bottom: 32px;
    font-family: "GC";
    text-align: center;
    width: 400px;
}

.facaCadastro h2, .facaLogin h2{
    color: rgb(0, 0, 0);
    margin-bottom: 22px;
}

.facaCadastro p, .facaLogin p {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 12px;
}

p{
    width: 300px;
    text-align: center;
}

.containerPai{
    width: 100%;
    height: 100vh;
    background-color: #111215;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 80%;
    height: 80vh;
    background-color: #1F2130;
    display: flex;
    border-radius: 36px;
    padding: 32px 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card::after{
    width: 100%;
    height: 100vh;
    content: "";
    position: absolute;
    background-image: url(img/background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
    z-index: 0;
}

.cardDireita, .cardEsquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.facaCadastro, .formCadastro, .facaLogin, .formLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facaLogin, .facaCadastro{
    position: absolute;
}

.logo{
    z-index: 1;
    position: absolute;
    margin-bottom: auto;
    bottom: 480px;
}

.logo img{
    width: 56px;
}

/* LOGIN ACTIVE */

.card.loginActive .facaLogin{
    opacity: 0;
    pointer-events: none;
}

.card.loginActive .facaCadastro{
    transform: translateX(0);
    transition: all .3s .3s;
}

.card.loginActive .formCadastro{
    opacity: 0;
    pointer-events: none;
}

.card.loginActive::after{
    transform: translateX(50%);
}


/* CADASTRO ACTIVE */

.card.cadastroActive .facaCadastro{
    opacity: 0;
    pointer-events: none;
}

.card.cadastroActive .facaLogin{
    transform: translateX(0);
    transition: all .3s .3s;
}

.card.cadastroActive .formLogin{
    opacity: 0;
    pointer-events: none;
}

.card.cadastroActive::after{
    transform: translateX(-50%);
}


/* TRANSITIONS */

.card::after{
    transition: all .5s;
}

.facaCadastro{
    transform: translateX(200%);
    transition: all .3s 0;
}

.facaLogin{
    transform: translateX(-200%);
    transition: all .3s 0;
}